@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.number{
    background-color: aliceblue;
    margin: 0.5rem;
    padding:0.1rem;
    width: 5rem;
    float: left;
    text-align: center;
    font-size: 2rem;
}

p{
    margin: 0.2rem;
}